<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
    <!--connectionStrings>
        <add name="SVLCmanage.Properties.Settings.SoudvilayConnectionString"
            connectionString="Data Source=JO-SDCH2;Initial Catalog=Soudvilay;User ID=sa;Password=56132146jo"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
  
    <connectionStrings>
        <add name="SVLCmanage.Properties.Settings.SoudvilayConnectionString"
            connectionString="Server=192.168.1.99,1433;Initial Catalog=Soudvilay;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

 
  
</configuration>